
body{background-color:gray;}

.div1{
    background-color:black;
    color:white;
    padding: 15px;
    border:1px solid black;
    border-radius:5%;
    width:95%;
    text-align:center;
    align-items:center;
    margin:auto;
    position:absolute;
    left:0;
    right:0;
    top:10%;
    bottom:60%;
}

.div2{
    background-color:black;
    color: white;
    margin: 15px;
    padding: 15px;
    border:1px solid black;
    width:95%;
    border:1px solid red;
    text-align:center;
    overflow: scroll;
    align-items:center;
    margin:auto;
    position:absolute;
    left:0;
    right:0;
    top:45%;
    bottom:20%;
}


